<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Proboj</title>
  <meta name="description" content="Proboj">

</head>

<body>
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
<ul class=flashes>
{% for category, message in messages %}
{% if category=="error" %}
<li><pre>{{ message }}</pre></li>
{% else %}
<li>{{ message }}</li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<a href="/static/server.zip">Stiahni server</a>

<br/>

{% if name %}
Logged as {{ name }}.
<a href="/logout">Logout</a><br/>
<form action="upload" method="post" enctype="multipart/form-data">
<input type="file" name="file"/>
<input type="submit" value="Submituj" />
</form>

Stare uploady:
{% for file in files %}
<a href="get_upload/{{file}}">{{file}}</a>
{% endfor %}


{% else %}
<form action="login" method="post">
Heslo:<input type="password" name="password" />
<input type="submit" value"Login" />
</form>
{% endif %}

<h2>Aktuálny stav</h2>
{% for name, score in scores.iteritems() %}
{{ name }}: {{ score }}<br/>
{% endfor %}

<h2>Posledné hry</h2>
{% for g in last_games %}
<a href="downgame/{{g.name}}">{{g.name}}</a>
{% for name, score in g.scores.iteritems() %}
{{ name }}: {{ score }};
{% endfor %}

<br/>
{% endfor %}

<a href="all_games">Vsetky hry</a>

<h2>Manuál</h2>

<p>
Server si po stiahnutí skompilujete nasledovne:
<pre>
python2 compile_game.py all test_player.au iny_player.au
./server test_map.m test.log
</pre>
Server vyrobí súbor test.log a ten podhodíte observeru.
</p>

<p>
Pokiaľ chcete robiť debug výstupy počas behu vášho hráča, tak najprv pustite
<pre>
python2 compile_game.py precompile test_player.au iny_player.au
</pre>
A následne upravte playerX.h a pustite:
<pre>
python2 compile_game.py compile
</pre>
</p>

<h3>Jazyk AU</h3>

Jazyk je veľmi podobný osekanému C.
Neexistujú tam deklarácie, všetko sú len celé čísla (int) a pokiaľ niečo neinicializované
použijete bude tam hodnota 0. Medzi ťahmi vám obsah premenných ostáva.
Z aritmetických operácii fungujú:
+, -, *, /, %, &lt;, &lt;=, ==, &gt; &gt;, &&, ||, !=

Pokiaľ budete potrebovat bitwise magiu, tak sa ozvite, dorobíme.

Takisto neexistujú cykly, iba podmienky.
Tie navyše môžu byt iba tvaru :
<pre>
if (...) {
} elif (...) {
} else {
}
</pre>
Časti elif môže byť aj viac. Else je nepovinný. Ale else if neexistuje.
A brčkaté zátvorky sú povinné.

Existuje niekoľko špeciálnych premenných, ktoré sa na začiatku ťahu naplnia (vy si ich môžete
prepísať čím chcete, ale neodporúča sa):
<ul>
<li>PL_ID - id vášho hráča (čísluje sa od 1)</li>
<li>ID - id panáka (čísluje sa od 1)</li>
<li>Y, X - súradnice, číslované od 0</li>
<li>R, C - rozmery mapy</li>
<li>CARRY - váš aktuálny náklad, maximálna nosnosť je 10</li>
<li>MAX_ID - maximalne ID vasho panaka</li>
<li>MAX_PLAYER - maximalne ID hraca</li>
<li>TICK - cislo aktualneho kroku, cislujeme od 1</li>
<li>MAX_TICK - celkovy pocet krokov (cely cas konstanta)</li>
</ul>

Pokiaľ chcete náhodné číslo použite token RAND, napr.:
<pre>
abc = RAND % 17;
</pre>

Ďalej máte nejake informácie o stave mapy okolo seba (do manhatanovskej vzdialenosti 2):

<ul>
<li>AREA_PL[y,x] - kto sa nachádza na pozícii (Y+y,X+x): 0 - nič, +x panák hráča s číslom x, -x váš panák s číslom -x</li>
<li>AREA_BASE[y,x] - koho základňa sa nachádza na pozícii (Y+y,X+x)</li>
<li>AREA_WALL[y,x] - 1 ak sa na pozícii (Y+y,X+x) nachádza prekážka</li>
<li>AREA_ZUCK[y,x] - množstvo cukru na pozícii (Y+y,X+x)</li>
<li>AREA_MARKS[y,x] - vaša značka na pozícii (Y+y,X+x)</li>
</ul>

Počas ťahu môžete urobiť jednu z nasledujúcich akcíí:
<ul>
<li>MOVE(y,x) - pohyb, v každej súradnici max o 1</li>
<li>GRAB() - zober jeden cukor odtiaľ kde stojíš</li>
<li>PUT() - pokiaľ si vo svojej základni polož cukor</li>
<li>WRITE(w) - zapiš na svoju pozíciu číslo w</li>
<li>ATTACK(y,x) - zaútoč na pozíciu (Y+y, X+x), šanca na zabitie je 1/3, zabitá jednotka príde o
všetko, zresetuje sa a skončí v báze</li>
</ul>

Navyše počas ťahu môžete posielať správy iným hráčom.
Správa posiela veľmi jednoducho:
<pre>
MSG(komu, 1, 2, 3);
</pre>
Správa môže obsahovať ľubovoľne veľa čísel. 

Panáci správy aj prijímajú. Pokiaľ niekomu medzi ťahmi príde
viac ako jedna správa, tak dostane len poslednú:
V mieste INBOX[0] je dĺžka prijatej správy.
V INBOX[i] je i-te číslo zo správy. Pokiaľ siahnete mimo
rozsahu správy dostanete nulu.

Testovacia mapa zatiaľ podporuje iba dvoch hračov, ktorý majú dvoch panákov. Ale existuje test_map2.m, ktorá je trochu väčšia. 

Funkcie:
Vid test_player.au.
Definicia funkcie:
<pre>
def fff(a, b, c) {
  return b + c;
}
</pre>
Vo vnutri funkcie nevidite globalne premenne (vidite len argumenty a premenne, ktore vytvori funkcia).

Funkcia sa vola klasicky:
<pre>
xx = fff(2, 3, 4);
</pre>


Pokiaľ si chcete pozrieť hru tak vhodný príkaz je:
<pre>
python2 opserver/proboj.py &lt;test.log
</pre>

</body>
</html>
