<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Proboj</title>
  <meta name="description" content="Proboj">

</head>

<body>
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
<ul class=flashes>
{% for category, message in messages %}
{% if category=="error" %}
<li><pre>{{ message }}</pre></li>
{% else %}
<li>{{ message }}</li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<a href="/static/server.zip">Stiahni server</a>

<br/>

{% if name %}
Logged as {{ name }}.
<a href="/logout">Logout</a><br/>
<form action="upload" method="post" enctype="multipart/form-data">
<input type="file" name="file"/>
<input type="submit" value="Submituj" />
</form>

{% else %}
<form action="login" method="post">
Heslo:<input type="password" name="password" />
<input type="submit" value"Login" />
</form>
{% endif %}

<h2>Aktuálny stav</h2>
{% for name, score in scores.iteritems() %}
{{ name }}: {{ score }}<br/>
{% endfor %}

<h2>Posledné hry</h2>
{% for g in last_games %}
<a href="downgame/{{g.name}}">{{g.name}}</a>
{% for name, score in g.scores.iteritems() %}
{{ name }}: {{ score }};
{% endfor %}

<br/>
{% endfor %}

</body>
</html>
